<nav data-nav class="flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="{{ "/" | relURL }}" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="{{ "img/sozique-logo.png" | relURL }}" alt="Sozique Christian Network logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>

	<ul class="flex b grey-3 nav-menu">
  <li><a href="{{ "products" | relURL }}" class="pa3 no-underline db">PROGRAMS XXX</a></li>
  <li><a href="{{ "values" | relURL }}" class="pa3 no-underline db">VALUES XXX</a></li>
  <li><a href="{{ "post" | relURL }}" class="pa3 no-underline db">BLOG XXX</a></li>
  <li><a href="{{ "contact" | relURL }}" class="pa3 no-underline db">CONTACT XXX</a></li>
</ul>

</nav>
